/websocket-server/node_modules
/websocket-server/dist

/chat-client-terminal/.vs
/chat-client-terminal/.vscode
/chat-client-terminal/bin
/chat-client-terminal/obj

/dotnet-client/.vs
/dotnet-client/.vscode
/dotnet-client/bin
/dotnet-client/obj

/web-socket-client-terminal/WebsocketClient/.vs
/web-socket-client-terminal/WebsocketClient/.vscode
/web-socket-client-terminal/WebsocketClient/bin
/web-socket-client-terminal/WebsocketClient/obj
/dotnet-client