/websocket-server/node_modules
/websocket-server/dist

/chat-client-terminal/.vs
/chat-client-terminal/.vscode
/chat-client-terminal/bin
/chat-client-terminal/obj

/dotnet-client/.vs
/dotnet-client/.vscode
/dotnet-client/bin
/dotnet-client/obj